@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --background-invert: #131517;
}

html,
body {
  background: var(--background) !important;
}

html,
body {
  overscroll-behavior-y: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Menu management */
body.loaded #menu-button,
body.loaded #menu-bar {
  opacity: 1;
  pointer-events: auto;
}

body[data-router-pathname="/"].hero-in-view #menu-bar {
  opacity: 0;
  pointer-events: none;
}

@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-[-25%] from-blue-500 via-green-500 to-amber-600 to-[125%] text-transparent bg-clip-text inline box-decoration-clone;
  }
  .animate-gradient {
    animation: hue-rotate-animation 12s infinite 500ms;
    -webkit-animation: hue-rotate-animation 12s infinite 500ms;
  }
  .paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
  }
  .running {
    animation-play-state: running;
    -webkit-animation-play-state: running;
  }
}
