@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .play {
    animation-play-state: running;
  }
}

:root {
  --background: #e4e4e4;
  /* --background: #131517; */
}

html {
  background: var(--background);
}

html,
body {
  overscroll-behavior: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body.loaded footer,
body.loaded #menu-button {
  opacity: 1;
  pointer-events: auto;
}

/* TEST */
@property --r {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

#a {
  animation: rotating 3s linear infinite;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}

#a::after {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  z-index: 1;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

/* @property --r2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

#b {
  background: conic-gradient(
    from calc(var(--r2) - 80deg) at var(--xPos) 50px,
    #222 0%,
    #fff 20%,
    #222 25%
  );
  animation: -0.64s rotating2 3s linear infinite, -0.64s x 3s linear infinite;
}

@keyframes rotating2 {
  0% {
    --r2: 0deg;
  }
  32.82275711% {
    --r2: 0deg;
  }
  50% {
    --r2: 180deg;
  }
  82.82275711% {
    --r2: 180deg;
  }
  100% {
    --r2: 360deg;
  }
} */
